.container .contact__container{
    display: grid;
    grid-template-columns: 30% 58%;
    gap:12%;
}
.contact__options{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}
.contact__socials{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
    font-size: 1.98rem;
}
.contact__socials a {
    background: var(--color-bg);
    color: var(--color-primary);
    padding: 0.6rem;
    display: flex;
    border: 1px solid transparent;
}
.contact__socials a:hover {
    color: var(--color-white);
    border-color: var(--color-bg)
}
/* medium devices */
@media screen and (max-width:1024px) {
    .container.contact__container {
        grid-template-columns: 1fr;
        gap:2rem
    }
}
/* small devices */
@media screen and (max-width:600px) {
    .container .contact__container {
        width: var(--container-width-sm);
    }
    
}